.background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: var(--c-lightgray50);
}

.login-card {
  width: 27rem;
  padding: 4rem;
  background-color: var(--c-white);
  border: 2px solid rgba(117, 64, 238, 0.2);
}

.login-logo {
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.28px;
  color: var(--c-violet);
}

.login-welcome {
  margin: 1.7rem 0;
}

.login-welcome-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--c-deepblue);
}

.login-welcome-text {
  font-size: 16px;
  color: var(--c-darkgray);
}

.login-input {
  width: 18.75rem;
  padding: 0.7rem 0;
  border: none;
  border-bottom: 1px solid var(--c-lightgray50);
  color: var(--c-darkgray);
  font-family: "San Francisco Display", "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.76px;

  &:focus {
    outline: none;
    background-color: white !important;
    border-bottom: 1px solid var(--c-violet);
  }

  &:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: var(--c-darkgray) !important;
  }

  &:active {
    background-color: transparent !important;
  }

  &::placeholder {
    color: var(--c-darkgray);
  }
}

.form-field {
  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.not-member {
  margin-top: 2.5rem;
  color: var(--c-darkgray);
}

.signup-link,
.remember-password {
  text-decoration: none;
  padding-bottom: 2px;
}

.login-button-wr {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.remember-password {
  color: var(--c-violet);
  border-bottom: 2px solid rgba(117, 64, 238, 0.2);
}

.signup-link {
  color: var(--c-coral);
  border-bottom: 2px solid rgba(255, 112, 82, 0.2);
}
