.aside {
  height: 100%;
  width: 108px;
  position: fixed;
  top: 0;
  left: 0;
  background: url(/assets/pics/icons/roll.png) no-repeat;
  background-color: var(--c-violet);

  svg {
    stroke: var(--c-white);
  }
}

.aside_menu {
  display: flex;
  position: absolute;
  top: 174px;
  flex-wrap: wrap;
}

.aside_menu--item {
  width: 100%;
  align-self: center;
  padding: 33px 38px;
  border-right: 2px solid transparent;

  &:hover,
  :active {
    background-color: rgba(37, 38, 94, 0.25);
    border-right: 2px solid var(--c-gold);
  }
}
