.filters-header {
  display: flex;
  align-items: center;
  height: 90px;

  p {
    margin: 0 0.75rem 0 2.5rem;
  }
}

.filters-number {
  width: 40px;
  height: 20px;
  border-radius: 24px;
  text-align: center;
  color: var(--c-white);
  background-color: var(--c-green);
}

.filters-header,
.filters-show,
.filters-positions {
  border-bottom: 1px solid var(--c-lightgray50);
}

.filters-show-list,
.filters-positions-list,
.filter-developers-list {
  list-style: none;
}

.filter-item {
  margin: 1.5rem 0;
}

.filter-developers-item {
  margin: 1rem 0;
}

.filters-show-list,
.filters-positions-list {
  color: var(--c-deepblue);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.filter-developers-list {
  color: var(--c-darkgray);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
}

.checkbox-nested + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.checkbox-parent_dropdown {
  display: flex;
  align-items: center;
}
