html {
  --c-darkgray: #787993;
  --c-white: #fff;
  --c-lightgray50: #f1f1f5;
  --c-lightlilac: #f1ebfd;
  --c-mediumgray150: #d0d0d4;
  --c-mediumgray50: #dfdfe4;
  --c-green: #2dc76d;
  --c-gold: #ffc800;
  --c-coral: #ff7052;
  --c-deepblue: #25265e;
  --c-violet: #7540ee;
  --c-lilac: #a480f6;
  --c-lightgray100: #ececee;
  --c-mediumgray100: #d8d8d8;
}
